# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
bower_components/

# Environment variables
.env
.env.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
/dist/
/out/

# Electron specific
/electron/dist/
/electron/out/
/electron/.webpack/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS-specific files
.DS_Store
Thumbs.db

# Compiled files
*.tsbuildinfo

# Misc
*.bak
*.tmp

